If:
  PathMatch: .*\.inc

Index:
  Background: true

CompileFlags:
  Add: 
    - -xc++-header
    - -DCLANGD_ONLY
    - -Wall
    - -Wextra
    - -Wpedantic
  
  Compiler:
    - g++

Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add: [
      bugprone-*, 
      misc-*, 
      clang-analyzer-core-*, 
      google-*, -google-readability-*,
      performance-*,
      cppcoreguidelines-*
    ]
